.navbar{
    margin-bottom: 50px;
}
.navbar-brand {
    color: white;
    
    
}
.nav-link {
    color: gray;
}
.title h1{
    color: palevioletred;
    font-size: xx-large;
    margin-bottom:20px;
    text-align: center;
    
}
.inset{
    border-style: outset;
    margin-bottom:100px;
  
}
img{
    width: 500px;
}
 p{
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
   width: 1400px;

}
.Viz{
    color: turquoise;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom:20px;
    margin-top:150px;
    text-align: center;
} 
.carousel {
     position: relative;
     top: -100px
}  